/****** FONT ******/
/* font-family: "Rye", sans-serif; */

/****** FONT SIZE ******/
/* 1rem = 16px */
/*
20px - 1.25rem
24px - 1.5rem
64px - 4rem
128px - 8rem
*/

/****** COLORS ******/
/* 
Main: #5F4723
Tint: #896A3B
White: #FFF9F0
*/

/****** SPACE ******/
/* 
2.4rem
3rem
*/

/****** SHADOW ******/

* {
  margin: 0;
  padding: 0;
}

/****** General classes ******/

.font-rye {
  font-family: "Rye", sans-serif;
}
.font-lato {
  font-family: "lato", sans-serif;
}

/* PAGE */
body {
  max-width: 81rem;
  background-color: #fff9f0;
}
.page-section {
  width: 80%;
  padding: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 3rem;
}

/*** COLUMN RIGHT ***/
.column-right {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 43rem;
}

/* TITLE */
.page-header {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #5f4723;
  grid-row: 1 / span 3;
  margin-right: 0.5rem;
}
.page-header--first {
  font-size: 8rem;
  height: 9rem;
}
.page-header--second {
  font-size: 4rem;
}

/* QUESTION */
.h3 {
  color: #5f4723;
  justify-self: end;
  grid-column: 2;
  grid-row: 5;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
.img-container {
  margin-left: 0.5rem;
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  margin-bottom: -0.3rem;
}

/* QUOTE CARD */
.quote-card {
  border: 1.5px solid #5f4723;
  border-radius: 8px;
  grid-column: 1 / span 2;
  padding: 3rem;
  background-color: rgba(95, 71, 35, 0.09);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}
.quote-text {
  /* display: block; */
  display: inline-block;
  color: #896a3b;
  text-align: center;
  /* font-size: 1.25rem; */
  font-size: 1rem;
}

/* TYPING EFFECT CSS */
.quote-text{
  position: relative;
}

#cursor{
  display: inline;
  background-color: #896a3b;
  width: 3px;
  height: 20px;
  position: absolute;
  animation: blink 0.7s infinite;

}
/* ****** */



@keyframes blink{
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


/* **** OLD CSS STYLES **** */

/* ! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

body {
  min-height: 100vh;
 
  align-items: center;
  font-size: 1rem;
}

main {
  margin: 0 auto;
  width: 1000px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.results-container {
  margin-top: 30px;
  text-align: center;
}

.query-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 25px 0;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.hero-container {
  text-align: center;
  margin-bottom: 20px;
}

.chuck-icon {
  width: 250px;
  height: 200px;
} */
