/****** FONT ******/
/* font-family: "Rye", sans-serif; */

/****** FONT SIZE ******/
/* 1rem = 16px */
/*
16px - 1rem
20px - 1.25rem
24px - 1.5rem
64px - 4rem
128px - 8rem
*/

/****** COLORS ******/
/* 
Main: #5F4723
Tint: #896A3B
White: #FFF9F0
*/

/****** SPACE ******/
/* 
2.4rem
3rem
*/
/* 
letter-spacing: 0.2rem; 
*/

/****** STYLE ******/
/* 
border-radius: 8px; 
box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
*/

* {
  margin: 0;
  padding: 0;
}

/****** General classes ******/

.font-rye {
  font-family: "Rye", sans-serif;
}
.font-lato {
  font-family: "lato", sans-serif;
}

/* PAGE */
body {
  background-color: #fff9f0;
}
.page-section {
  width: 80%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: auto;
  margin-right: auto;
}

/*** COLUMN LEFT ***/
.column-left {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-self: flex-end;
  opacity: 0.4;
  transition: all 0.5s;
}

.column-left:hover {
  opacity: 1;
}

.categories-title {
  font-size: 1rem;
  color: #5f4723;
  letter-spacing: 0.2rem;
}
.btn {
  font-size: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #fff9f0;
  background-color: #896a3b;
  border-style: none;
  border-radius: 5px;
  width: 9rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #c18b39;
}

.btn:active {
  background-color: #c18b39;
  box-shadow: inset 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
}

/*** COLUMN RIGHT ***/
.column-right {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 43rem;
  justify-self: end;
}

/* TITLE */
.page-header {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #5f4723;
  grid-row: 1 / span 3;
  margin-right: 0.5rem;
}
.page-header--first {
  font-size: 8rem;
  height: 9rem;
  letter-spacing: 0.5rem;
}
.page-header--second {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

/* QUESTION */
.h3 {
  color: #5f4723;
  justify-self: end;
  grid-column: 2;
  grid-row: 5;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
.img-container {
  margin-left: 0.7rem;
  margin-top: -0.5rem;
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  margin-bottom: -0.3rem;
}

/* QUOTE CARD */
.quote-card {
  border: 1.5px solid #5f4723;
  border-radius: 8px;
  grid-column: 1 / span 2;
  padding: 3rem;
  background-color: rgb(193, 139, 57, 0.3);

  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  height: 10rem;
}
.quote-text {
  display: block;
  color: #896a3b;
  text-align: center;
  font-size: 1.25rem;
}
/*Horizontal line styling*/
.hr-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-line {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 90%;
  background-color: rgb(193, 139, 57, 0.3);
}
/*FOOTER STYLING STARTS HERE*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Team-member-h4 {
  font-size: 1.5rem;
  color: rgb(193, 139, 57, 0.8);
  font-family: "lato", sans-serif;
}
.Team-section-info-section {
  display: flex;
  margin: 10px 0;
}
.Te-Se-In-Div {
  border-right: 2px solid rgb(193, 139, 57, 0.8);
  padding-right: 10px;
}
.Te-Se-In-Div-p {
  color: rgb(193, 139, 57, 0.8);
  margin: 0 10px;
}
.erase-border {
  border: none;
}
